{% load static %}
{% block navbar %}
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0">
                  <input type="search" class="form-control header-search" placeholder="Szukaj&hellip;" tabindex="1">
                  <div class="input-icon-addon">
                    <i class="fe fe-search"></i>
                  </div>
                </form>
              </div>
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                  <li class="nav-item">
                    <a href="{% url 'toolseo:extractor' %}" class="nav-link {% if active == 'extractor' %} active {% endif %}"><i class="fe fe-anchor"></i>Link Extractor</a>
                  </li>
                   <li class="nav-item">
                    <a href="{% url 'toolseo:httpheader' %}" class="nav-link {% if active == 'httpheader' %} active {% endif %}" ><i class="fe fe-list"></i>Httpheader</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'toolseo:senuto' %}" class="nav-link {% if active == 'senuto' %} active {% endif %}" ><i class="fe fe-database"></i>Senuto URL</a>
                  </li>
                   <li class="nav-item">
                    <a href="{% url 'toolseo:googletop' %}" class="nav-link {% if active == 'googletop' %} active {% endif %}" ><i class="fe fe-award"></i>Google TOP</a>
                  </li>
                   <li class="nav-item">
                    <a href="/googlesite" class="nav-link" ><i class="fe fe-book-open"></i>Google Site</a>
                  </li>
                     <li class="nav-item">
                    <a href="/speedp" class="nav-link" ><i class="fe fe-book-open"></i>Google PageSpeed</a>
                  </li>
                     </li>



                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-file"></i>Screaming</a>
                        <div class="dropdown-menu dropdown-menu-arrow">

                            <a href="/raportlist" class="dropdown-item ">Raport</a>
                            <a href="/raportupload" class="dropdown-item ">Import</a>
                            <a href="/raportallupload" class="dropdown-item ">Import all</a>
                        </div>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

{% endblock navbar %}