{% extends 'tool/base.html' %}
{% load static %}
{% block content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
               Lista Raportów
            </h1>


        </div>

     <div class="row">
<div class="col-lg-3 mb-4">
<a href="/raportupload" class="btn btn-secondary btn-block">
                  <i class="fe fe-file-plus mr-2"></i>Dodaj raport
                </a>
    <p></p>
                <!-- Getting started -->
                <div class="list-group list-group-transparent mb-0">
<a href="/raportlist" class="list-group-item list-group-item-action"><span class="icon mr-3"><i class="fe fe-chevron-right"></i></span>Wszystkie</a>
                </div>
                <!-- Components -->

                <div class="list-group list-group-transparent mb-0">
                    {% for i in clients %}
                  <a href="/raport/{{i}}" class="list-group-item list-group-item-action"><span class="icon mr-3"><i class="fe fe-chevron-right"></i></span>{{i}}</a>
                    {% endfor %}
                </div>

              </div>
     <div class="col-lg-9 mb-8">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Raporty {{client}}</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                      <thead>
                        <tr>
                          <th class="w-1">No.</th>
                          <th>Nazwa</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in raportlist %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                           <td><a href="{% url 'toolseo:raport-detail' i.id %}">{{i}} </a></td>
                         </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>



        </div>








 </div>

{% endblock content %}
