{% extends 'tool/base.html' %}
{% load static %}
{% block content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                {{summary.client}}
            </h1>
            <div class="page-subtitle">{{summary.date_crawled}}</div>

        </div>

     <div class="row">
<div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-green">
                      6%
                      <i class="fe fe-chevron-up"></i>
                    </div>
                    <div class="h1 m-0">5.0</div>
                    <div class="text-muted mb-4">Zasoby</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-red">
                      -3%
                      <i class="fe fe-chevron-down"></i>
                    </div>
                    <div class="h1 m-0">4.9</div>
                    <div class="text-muted mb-4">Kody odpowiedzi</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-green">
                      9%
                      <i class="fe fe-chevron-up"></i>
                    </div>
                    <div class="h1 m-0">4.8</div>
                    <div class="text-muted mb-4">Budowa adresów URL</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-green">
                      3%
                      <i class="fe fe-chevron-up"></i>
                    </div>
                    <div class="h1 m-0">4.1</div>
                    <div class="text-muted mb-4">Tytuły stron</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-red">
                      -2%
                      <i class="fe fe-chevron-down"></i>
                    </div>
                    <div class="h1 m-0">4.8</div>
                    <div class="text-muted mb-4">Opisy stron</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-right text-red">
                      -1%
                      <i class="fe fe-chevron-down"></i>
                    </div>
                    <div class="h1 m-0">621</div>
                    <div class="text-muted mb-4">Products</div>
                  </div>
                </div>
              </div>
         <div class="col-sm-6 col-lg-3">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-blue mr-3">
                      <i class="fe fe-dollar-sign"></i>
                    </span>
                    <div>
                      <h4 class="m-0"><a href="javascript:void(0)">{{summary.total_url_encountered}} <small>URL</small></a></h4>
                      <small class="text-muted">Wszystkich adresów URL</small>
                    </div>
                  </div>
                </div>
              </div>
         <div class="col-sm-6 col-lg-3">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-blue mr-3">
                      <i class="fe fe-dollar-sign"></i>
                    </span>
                    <div>
                      <h4 class="m-0"><a href="javascript:void(0)">{{summary.total_url_crawled}} <small>URL</small></a></h4>
                      <small class="text-muted">Wszystkich przecrawlowanych</small>
                    </div>
                  </div>
                </div>
              </div>
         <div class="col-sm-6 col-lg-3">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-blue mr-3">
                      <i class="fe fe-dollar-sign"></i>
                    </span>
                    <div>
                      <h4 class="m-0"><a href="javascript:void(0)">132 <small>Sales</small></a></h4>
                      <small class="text-muted">12 waiting payments</small>
                    </div>
                  </div>
                </div>
              </div>
         <div class="col-sm-6 col-lg-3">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-blue mr-3">
                      <i class="fe fe-dollar-sign"></i>
                    </span>
                    <div>
                      <h4 class="m-0"><a href="javascript:void(0)">132 <small>Sales</small></a></h4>
                      <small class="text-muted">12 waiting payments</small>
                    </div>
                  </div>
                </div>
              </div>




        <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Summary</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Klient: </li>
                        <li>Data: </li>

                        <li>Wewnętrznych zablokowanych przez robots.txt: {{summary.total_url_crawled}}</li>
                        <li>Zewnetrznych zablokowanych przez robots.txt: {{summary.total_url_crawled}}</li>
                    </ul>
                </div>
            </div>

        </div>

         <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Internal</h3>
                </div>
                <div class="card-body">

                    <ul>
                         <li>Klient: {{summary.client}}</li>


                    </ul>


                </div>
            </div>

        </div>
         <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Summary</h3>
                </div>
                <div class="card-body">

                    {% for i in response_codes %}
                            <li>{{i}}</li>
                        {% endfor %}

                </div>
            </div>

        </div>
    </div>

             <div class="row">
        <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">URI</h3>
                </div>
                <div class="card-body">
                    <ul>
                     {% for i in uri %}
                            <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

         <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Page Titles</h3>
                </div>
                <div class="card-body">

                    <ul>
                        {% for i in page_titles %}
                            <li>{{i}}</li>
                        {% endfor %}


                    </ul>


                </div>
            </div>

        </div>
         <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Meta Description</h3>
                </div>
                <div class="card-body">

                    {% for i in meta_description %}
                            <li>{{i}}</li>
                        {% endfor %}

                </div>
            </div>

        </div>
    </div>

                 <div class="row">
        <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">H1</h3>
                </div>
                <div class="card-body">
                    <ul>
                     {% for i in h1 %}
                            <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

         <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">H2</h3>
                </div>
                <div class="card-body">

                    <ul>
                        {% for i in h2 %}
                            <li>{{i}}</li>
                        {% endfor %}


                    </ul>


                </div>
            </div>

        </div>
         <div class="col-lg-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Images</h3>
                </div>
                <div class="card-body">

                    {% for i in images %}
                            <li>{{i}}</li>
                        {% endfor %}

                </div>
            </div>

        </div>
    </div>




    </div>


{% endblock content %}
